*{
    margin: 0;
}
.header{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    width: 1180px;
    margin-top: 30px;
}
.item{
    padding-left: 90px;
}
.iconheader{
    padding-left: 5px;
}
.icon{
    padding-right: 15px;
}

.header2{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    width: 1150px;
    margin-top: 30px;
    padding: 10px;
}
.item2{
    padding-left: 85px;
}
.nav2{
    background-color: white;
}
.nav2:hover{
    pad: 5px;
    border-bottom: 4px solid blue;
}
.left{
    width: 875px;
    height: 400px;
    margin-right: 60px;
}
.moto{
    width: 100%;
}
.item3{
    margin-top: 30px;
    width: 205px;
    height: 354px;
    border: 1px solid lightgray;
}
.container{
    display: flex;
    justify-content: center;
    margin-right: 45px;
    margin-top: 60px;
}
#action{
    border: none;
    background-color: rgb(0, 98, 130);
    color: white;
    padding: 5px;
    width: 80px;
}
.price{
    color: blue;
    font-size: 20px;
    margin-left: 35px;
}
.lodkamotor{
    margin-left: 20px;
    padding-top: 20px;
}
.lodcentr{
    font-size: 20px;
    margin-left: 25px;
    font-weight: 500;
    padding-top: 10px
}
.srokaction{
    padding-left: 20px;
    font-size: 18px;
    margin-top: 20px;
    height: 30px;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.botonmotor{
    display: flex;
    margin-left: 190px;
    margin-top: 40px;
}
.katalog{
    border: none;
    background-color: rgb(255, 255, 255);
}
.katalog:hover{
    border: none;
    background-color: rgb(85, 0, 0);
}
.itemboton{
    padding-left: 30px;
    border: none;
}
.nav{
    background-color: white;
}
.nav:hover{
    background-color: lightgray;
}
.marka{
    width: 780px;
    background-color: lightgray;
    border: none;
    height: 30px;
}
.itemsearch1{
    margin-top: 30px;
    margin-left: 220px;
}
.search{
    display: flex;
}
.itemtrans{
    width: 370px;
    height: 130px;
    border: 1px solid lightgrey;
}
.transport{
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
    margin-top: 30px;
}
.mashina{
    margin-left: 200px;
    margin-top: -20px;
}
.name{
    font-size: 25px;
    font-weight: 600;
    margin-left: 20px;
    padding-top: 15px;
}
.ikaka{
    margin-top: -80px;
}
.itemtrans{
    margin-left: 30px;
    margin-top: 20px;
    
}
.itemtrans:hover{
    box-shadow: 2px 5px 6px lightgray;
    color: blue;
    
}
.itempoter{
    margin-left: 145px;
}
.itempoter1{
    margin-left: 145px;
    margin-top: 30px;
}
.tovari{
    margin-right: 25px;
    padding-left: 10px;
}
.tovari:hover{
    border-bottom: 3px solid blue;
}
.tovar{
    margin-top: 40px;
}
.helptovar{
    width: 270px;
    height: 300px;
    border: 1px solid black;
}
.like{
    padding-left: 230px;
    margin-top: 10px;
}
.o1{
    margin-left: 25px;
}
.voda{
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}
.pricedolar{
    font-weight: 600;
    margin-left: 90px;
    margin-top:2px;
    font-size: 25px;
}
.sjop{
    margin-left: 230px;
    margin-top: -30px;   
}
.help{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.helptovar:hover{
    box-shadow: 12px 5px 6px lightgray;
    color: blue;
}
.pokazat{
    background-color: lightgray;
}
.pokazat:hover{
    background-color: blue;
}
.skidkax{
    display: flex;
    background-color: blue;
    justify-content: space-around;
    height: 150px;
    margin-top: 40px;
}
.foter{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    background-color: lightgray;
}
@media (max-width:768px){
    header{
        flex-direction: column;
    }
    nav{
        font-size: 50px;
    }
    .header{
        display: flex;
        font-size: 34px;
        margin-right: 500px;
        display: none;
    }
    .left{
        width: 640px;
        margin-top: -40px;
    }
    .item2{
        margin-left: 100px;
        font-size: 35px;
    }
    .header2{
        display: flex;
        font-size: 35px;
        margin-left:220px;
        padding-top: 30px;
    }
    .moto{
        width: 100%;
        margin-top: -80px;
        margin-top: 20px;
    }
    
    .container{
        flex-direction: column;
    }
    .right{
        width: 100%;
    }
    .item3{
        margin-top: -100px;
    }
    .itemboton{
        margin-right: 400px;
    }
    .itemtrans{
        margin-right: 400px;
    }
    .botonmotor{
        display: none;
    }
    .itemsearch1{
        display: none;
    }
    .transport{
       
        margin-left: -50px;
    }
    .itemtrans{
        margin-right: 200px;
        padding-right: 200px;
    }
    .itempoter{
        margin-left: -10px;
    }
    .itempoter1{
        margin-left: -10px;
    }
    .help{
        display: flex;
        flex-direction: column;
    }
    .skidkax{
        width: 300px;
        display: none;
    }
    .foter{
        display: flex;
        flex-direction: column;
    }
}